<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- typeAliases로 mapper의 resultType이나 parameterType에 문자를 대신할수있다. -->
	<typeAliases>
		<package name="org.zerock.domain"/>
	</typeAliases>
	
</configuration>
 